<mat-card *transloco="let t" [ngClass]="{ 'gallery-item': isGalleryView }">
  <h3 *ngIf="!isGalleryView && post.title">{{ post.title }}</h3>
  <img *ngIf="post.mediaUrl && mediaType === 'image'" [src]="post.mediaUrl" class="mediaUrl" />
  <video *ngIf="post.mediaUrl && mediaType === 'video'" [src]="post.mediaUrl" class="mediaUrl" controls></video>
  <audio *ngIf="post.mediaUrl && mediaType === 'audio'" [src]="post.mediaUrl" class="mediaUrl" controls></audio>
  <div *ngIf="!isGalleryView && post.content" class="flex inline" [innerHTML]="post.content | safeHtml" class="m-t-16"></div>
  <div *ngIf="!isGalleryView && (!activityType || activityType === 'createPost')" class="m-t-16">
    <mat-button-toggle-group (change)="likeDislikeChanged($event)" class="like m-r-8"
      [hideSingleSelectionIndicator]="true">
      <mat-button-toggle mat-raised-button color="primary" value="like" [checked]="alreadyLiked" [ngClass]="{
          'selected-toggle': alreadyLiked,
          'unselected-toggle': !alreadyLiked,
        }">
        {{ likesCount }} {{ t('post.like') }}
      </mat-button-toggle>
      <mat-button-toggle mat-raised-button color="primary" value="dislike" [checked]="alreadyDisliked" [ngClass]="{
          'selected-toggle': alreadyDisliked,
          'unselected-toggle': !alreadyDisliked,
        }">
        {{ dislikesCount }} {{ t('post.dislike') }}
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-raised-button color="primary" (click)="seeComments = !seeComments">
      {{ post.commentsCount }} {{ t('post.comment') }}
    </button>
  </div>
  <app-comments *ngIf="seeComments && !isGalleryView" [post]="post"></app-comments>
  <small *ngIf="!isGalleryView" class="m-t-16">{{ post.createdAt | dateAgo }}</small>
</mat-card>