@import '../../../../styles.scss';

:host {
  width: 100%;
}

.gallery-item {
  background-color: transparent;
  box-shadow: none;
}

.mediaUrl {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.like {
  background-color: white;

  mat-button-toggle {
    color: black;
    background-color: white;
  }
}

.selected-toggle {
  background-color: $primary-color !important;
  color: white !important;
}

.unselected-toggle {
  background-color: #f1f1f1 !important;
  color: black !important;
}