.list-group-item {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    min-height: 80px;
}

a {
    margin-right: 8px;
}

.pp {
    object-fit: cover;
    height: 60px;
}

.inline {
    display: inline-block;
}