.list-group-item {
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  min-height: 65px;
}

.item {
  width: 100%;
}

a {
  margin-right: 8px;
}

.pp {
  cursor: pointer;
  object-fit: cover;
  height: 60px;
  border-radius: 50%;
}

.inline {
  display: inline-block;
}
