<nav *transloco="let t" class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" href="/">
      <img src="assets/icons/icon-96x96.png" alt="Logo" class="navbar-logo" />
      <span class="navbar-title">Freise</span>
    </a>

    <ul class="navbar-links">
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/login">{{ t('app.login') }}</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/register">{{ t('app.register') }}</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" [routerLink]="['users', getUserId()]">
          <img *ngIf="authService.user$ | async as user" class="navbar-avatar" [src]="user.avatarUrl"
            alt="User Avatar" />
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" (click)="logout()">{{ t('app.logout') }}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>