<nav *transloco="let t" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">🍓</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!isLoggedIn()">
        {{ t('app.already_registered') }}
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/login">{{ t('app.login') }}</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/register">{{ t('app.register') }}</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" [routerLink]="['users', getUserId()]">
          <img
            *ngIf="user$ | async as user"
            class="pp"
            [src]="user.avatarUrl"
            width="30"
            height="30"
          />
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" (click)="logout()">{{ t('app.logout') }}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
