.navbar {
    background-color: #2d000e;
    border-bottom: 1px solid #e9ecef36;
    padding-right: 15px;
    align-items: center;
}

.navbar-brand {
    margin: 20px;
    text-decoration: none;
}

.navbar-collapse {
    margin: 10 30px;
}

.pp {
    cursor: pointer;
    object-fit: cover;
    height: 30px;
}