<div *transloco="let t" class="comments-section">
  <div *ngFor="let comment of comments" class="comment">
    <mat-card class="comment-card">
      <div class="comment-header">
        <div class="author-info">
          <img
            *ngIf="isUser(comment.author)"
            class="avatar"
            [src]="comment.author.avatarUrl"
            alt="Author Avatar"
          />
          <span class="author-name">
            <ng-container *ngIf="isUser(comment.author); else stringAuthor">
              {{ comment.author.username }}
            </ng-container>
            <ng-template #stringAuthor>
              {{ comment.author }}
            </ng-template>
          </span>
        </div>
        <small class="comment-date">{{ comment.createdAt | dateAgo }}</small>
      </div>
      <div class="comment-content">
        {{ comment.content }}
      </div>
    </mat-card>
  </div>

  <mat-card class="comment-form-card">
    <form [formGroup]="commentForm" (ngSubmit)="postComment()" class="comment-form">
      <mat-form-field appearance="outline" class="comment-input">
        <mat-label>{{ t('comment.placeholder') }}</mat-label>
        <input
          matInput
          formControlName="content"
          ngxMention
          [mentionConfig]="mentionConfig"
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!commentForm.value.content"
      >
        {{ t('comment.submit') }}
      </button>
    </form>
  </mat-card>
</div>