<div class="container mt-5">
    <div *ngIf="user$ | async as user" class="profile">
        <ng-container *ngIf="avatarUrl$ | async as avatarUrl">
            <img class="pp" [src]="avatarUrl.downloadUrl" alt="Profile Picture" width="200" height="200">
        </ng-container>

        <input type="file" class="avatar-upload" accept="image/*" (change)="onFileChange($event)">
        <h1>{{user.username}}</h1>
    </div>
    <h2>Activities</h2>
    <activities [activities$]="activities$"></activities>
</div>