<div *transloco="let t" class="container mt-5">
    <div *ngIf="user$ | async as user; else loading" class="profile">
        <div>
            <div class="content">
                <img *ngIf="user.avatarUrl" class="avatarUrl" [src]="user.avatarUrl">
                <label for="file-upload-avatarUrl" class="profile-file-upload">
                    📷
                </label>
                <label for="file-upload-backgroundUrl" class="profile-file-upload">
                    🌅
                </label>
            </div>
        </div>
        <img *ngIf="user.backgroundUrl" class="backgroundUrl" [src]="user.backgroundUrl">
        
        <div class="flex">
            <!--<button class="btn btn-primary">Edit Profile</button>-->
            
            <input id="file-upload-avatarUrl" type="file" accept="image/*"
                (change)="onFileChange($event, 'avatarUrl')" />
            
            <input id="file-upload-backgroundUrl" type="file" accept="image/*"
                (change)="onFileChange($event, 'backgroundUrl')" />
        </div>
        <h1>{{user.username}}</h1>
    </div>
    <ng-template #loading>
        <div class="spinner"></div>
    </ng-template>
    <h2>{{ t('profile.activity') }}</h2>
    <activities [activities$]="activities$"></activities>
</div>