<ul class="list-group">
    <li class="list-group-item" *ngFor="let activity of activities$ | async">
        <img (click)="userIdClick(activity)" class="pp" [src]="activity.userId?.avatarUrl ?? 'freise.png'" alt="Profile Picture" width="60" height="60">
        <a (click)="userIdClick(activity)">
            {{ activity.userId?.username }}
        </a>
        
        <div [innerHTML]="activity.action.name"></div>
        <small>{{ activity.createdAt | date:'dd-MM-yyyy HH:mm' }}</small>
    </li>
</ul>