@import 'styles.scss';

.NgxEditor__MenuBar {
  color: $primary-color;
  border-radius: 3px;
  margin: 0px 1px;
}

.NgxEditor__Content {
  p {
    color: $primary-color;
  }
}

mat-card {
  padding: 20px;
}

.mat-mdc-tab-body-wrapper {
  padding: 16px 0px;
}
