/* You can add global styles to this file, and also import other style files */
h1 {
    color: #b8112d;
}

h2 {
    color: #b9203a;
}

h3 {
    color: #b8475a;
}

a {
    margin: 20 auto;
    color: #b9203a;
    text-decoration-color: #b8475a;
    cursor: pointer;
}

small {
    color: #993c4c83;
}