// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$freise-app-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$red-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($freise-app-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($freise-app-theme);

html,
body {
  height: 100%;
}

h2 {
  color: #b8112d;
}

h3 {
  color: #b9203a;
}

h4 {
  color: #b8475a;
}

a {
  margin: 20 auto;
  color: #b9203a;
  text-decoration-color: #b8475a;
  cursor: pointer;
}

small {
  color: #993c4c83;
}

.flex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

@mixin margin($size) {
  .m-t-#{$size} {
    margin-top: #{$size}px;
  }

  .m-b-#{$size} {
    margin-bottom: #{$size}px;
  }

  .m-r-#{$size} {
    margin-right: #{$size}px;
  }

  .m-l-#{$size} {
    margin-left: #{$size}px;
  }
}

@include margin(4);
@include margin(8);
@include margin(16);
@include margin(24);
@include margin(32);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
