/* General Styles */
.posts-container {
  background: rgba(128, 128, 128, 0.1);
  /* Fond gris/transparent */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-item {
  align-items: center;
}

.view-toggle {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.toggle-group {
  display: flex;
  gap: 8px;
}

.loading-spinner {
  display: block;
  margin: 20px auto;
}